* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 22px;
}

body {
    /* background-image: linear-gradient(to right, #FF628D, #B7C9B2); */
}

html,
body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide number input arrows in all browsers */
input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */
    margin: 0;
}

header {
    width: 100%;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid #c4c4c4;
    color: white;
    background-color: #9c167d;
}

.paymentDtl {
    text-align: center;
    width: 100%;
}

.inputForm {
    /* width: 45rem; */
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
}

.inputForm input {
    padding: 5px;
    font-size: 1rem;
}

.inputForm input[type="number"] {
    width: 5rem;
    padding: 5px;
    font-size: 1rem;
}

.inputForm button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

#btnOne {
    border: none;
    outline: none;
    background-color: rgb(0, 200, 0);
    padding: 10px;
    cursor: pointer;
}

#btnTwo {
    border: none;
    outline: none;
    background-color: rgb(255, 46, 46);
    padding: 10px;
    cursor: pointer;
}

.transaction {
    width: 100%;
    background-color: #c4c4c4;
    text-align: center;
}

.transaction h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.Items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(52, 195, 24, 0.389);
    margin: 5px;
}

.RedItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(195, 24, 24, 0.389);
    margin: 5px;
}

#Clearlist {
    padding: 5px 8px;
    border: none;
    margin: 5px;
    background-color: rgb(111, 0, 0);
    color: rgb(243, 243, 243);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#Reset {
    padding: 5px 8px;
    outline: none;
    border: none;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/* ------------------------------------------------- */

@media (max-width: 480px) {

    /* styles for mobile */
    html {
        font-size: 16px;
    }
     h1{
            padding: 2.5rem;
    }
}
